.Button {
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  background: none;
  color: inherit;
  font-weight: bold;
}

.Button:hover {
  background: rgb(60, 60, 60);
}
