.Side {
  position: fixed;
  width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(29, 35, 39);
  overflow-y: auto;
}

.Side-dark {
  background-color: rgb(150, 160, 170);
}

.Main {
  height: 90vh;
  margin-left: 240px; /* Ajuste la marge à gauche pour éviter de chevaucher la barre latérale */
}

.Loading-wrapper {
  padding: 12px;
}

.Create-note-wrapper {
  padding: 12px;
}

.Note-button {
  display: block;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background: none;
  color: inherit;
  font-weight: bold;
}

.Note-button-selected {
  background: rgb(44, 51, 56);
}

.Note-button:hover {
  background: rgb(60, 60, 60);
}

.Note-button-container {
  display: flex;
  align-items: center;
}

.Delete-button {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Delete-button:hover {
  background-color: #f5222d;
}

.light-mode {
  background-color: #ddd;
  color: #000;
}

.theme-switch {
  position: absolute;
  top: 10px;
  right: 10px;
}

.username {
  margin-left: 20px;
}

.Pin-button {
  display: flex;
}